<!DOCTYPE html>
<html>
    <head>

        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Furkan Erdi">
        <meta name="Github Profile" content="https://github.com/helizac" >

        <!-- Title -->
        <title>Jump Point Search Project</title>

        <!-- Links -->
        <link rel="stylesheet" href="../static/css/style.css"/>

        <!-- Script Field -->
        <script type="text/javascript" src="../static/js/grid.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.4/lottie_svg.min.js"></script>
        <script src="../static/vendor/lottie/lottie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        
        <div class="container">

            <div class="content" style="z-index: 5;">

                <h1>Mario in the Dungeon</h4>

                <p>In a maze, Mario is chasing by a powerful mushroom. <b>Jump Point Search Algorithm</b> helps Mario to find the way to escape. The green position is the room that Mario's current position. Press "Find Route" to help to Mario or click on grid for create obstacles for Mario. It's not enjoyful for Mario anymore!</p>
            </div>

            <div id="data-div"></div>

            <div class="grid-area" style="z-index: 5;">
                <script>createGrid();</script>
                <form method="POST">
                    <button type="button" name="reset" id="reset">Reset</button>
                    <button type="button" id="grid-button">Find Route</button>
                </form>
            </div>

            <div id="mario"><img id='mari' style='position: absolute; bottom: 36px; left: -64px; height: 72px; -webkit-animation: linear infinite; -webkit-animation-name: mario-walk; -webkit-animation-duration: 7.5s;' src='../static/lottie/mario.gif'></div>
            <div id="mushroom"><img id='mush' style='position: absolute; bottom: 36px; left: -192px; height: 96px; -webkit-animation: linear infinite; -webkit-animation-name: mushroom-walk; -webkit-animation-duration: 7.5s;' src='../static/lottie/mushroom.gif'></div>
            <div id="anim"></div>
            <div id="text" style="position: absolute; bottom: 36px; left: 0; width: 20%; margin-left: 1.5%; margin-bottom: 1%;"></div>
            <div><img id="tile" style="position: absolute; bottom: 0; left: 0; height: 36px; z-index: 5;" src="../static/lottie/tile.png"></div>
            <div id="fireworks" style="width: 100vw; height: 100vh; position: absolute; left: 0; top:0;z-index: 4;"><div id='fire' class='lottie' lottie='loop' lottie-path='../static/lottie/fireworks.json' style="opacity: 0;"></div></div>

        </div>

        <!-- Script Field -->
        <script>setGrid();</script>
        <script>
          $(document).ready(function() {
            $('#grid-button').click(function() {
                var grid = [].concat(...returnGridArray());

                async function delay() {
                  await new Promise(resolve => setTimeout(resolve, 50));
                  // code to be executed after 1 second
                }

                $.ajax({
                  url: '/process_data',
                  type: 'POST',
                  data: {'grid': grid},
                  success: async function(response) {

                    $("#mush").stop();

                    for(var i = 1; i < response.length-1; i++){
                      updateCanvas(response[i][0], response[i][1]);
                      await delay();
                    }

                    marioLives();
                    
                  },
                  error: function(){
                    marioDies();
                  }
                });
              });
            });
        </script>

        <script>
          $(document).ready(function() {
            $('#reset').click(function() {
              $.ajax({
                url: '/update_data',
                type: 'POST',
                data: {'reset': true},
                success: function(response) {
                  updateGrid(response);
                  backToStartAnim();
                }
              });
            })
          });
        </script>

        <script type="text/javascript" src="/static/js/lottie.js"></script>
    </body>
</html>